.tx-list {
    display: flex;
    flex-direction: column;
}

.tx-list a {
    text-decoration: none;
    margin-left: 0.5rem;
}

.tx-list ul {
    list-style: none;
    color: rgb(29, 29, 29);
}

.tx-list ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(179, 179, 179);
    padding: 0.5rem;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: .5rem;
}

.tx-list .tx-label {
    font-weight: 700;
}

.tx-good-price, .tx-name {
    font-size: 1.2rem;
    background-color: whitesmoke;
    padding: 0.2rem;
    border-radius: 5px;
}