{% extends 'base.html' %}
{% block content%}

<h1>
    {{item.name}}
</h1>
<p>Do you wanna sell item?</p>
<form action="{% url 'goods_detail' item.id%}" method="POST">
    {% csrf_token %}
    <input type="text" id="price" name="price">
    <input type="hidden" name="type" id="type" value="sell">
    <input class="button" type="submit" value="submit">
</form>
<p>Do you wanna buy item?</p>
<form action="{% url 'goods_detail' item.id%}" method="POST">
    {% csrf_token %}
    <input type="text" id="price" name="price">
    <input type="hidden" name="type" id="type" value="buy">
    <input class="button" type="submit" value="submit">
</form>
<h2>Sellers:</h2>
{% include 'transactions/selling.html' %}

<h2>Buyers:</h2>
{% include 'transactions/buying.html' %}

{% endblock content%}